<div appProtected>
  <h2>{{book.title}}</h2>

  <md-input-container>
    <input md-input [(ngModel)]="book.title" placeholder="Title">
  </md-input-container><br>

  <md-input-container>
    <input md-input [(ngModel)]="book.isbn" placeholder="ISBN">
  </md-input-container>
  <label for="barcodeUpload">
    <a md-icon-button><md-icon>file_upload</md-icon></a>
  </label>
  <input type="file" id="barcodeUpload" style="display: none" (change)="decodeIsbn($event)">

  <div class="actions">
  <button md-mini-fab (click)="save()"><md-icon>done</md-icon></button>
  </div>
</div>
