<md-sidenav-container class="app-nav" fullscreen>
  <div class="flex-wrapper">
    <md-toolbar>
      <button md-mini-fab (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>

      <div class="title-text" routerLink="/">BookBud</div>
      <span style="flex-grow: 1"></span>

      <button *ngIf="display.showLogout" md-button (click)="logout()" id="logout">Logout</button>
      <button *ngIf="display.showLogin" md-button (click)="login()" id="login">Login</button>
    </md-toolbar>

    <!-- primary content -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>

    <div class="footer"><a href="https://github.com/ultimadj/bookbud4" md-button target="_blank">BookBud V4 on GitHub</a></div>
  </div>

  <md-sidenav #sidenav mode="over" layout="column">
    <span>{{userService?.currentUser?.displayName || 'Anonymous'}}</span>
    <hr>
    <button md-button routerLink="/dashboard" routerLinkActive="current-route" (click)="sidenav.close()">Dashboard</button>
    <button md-button routerLink="/book" routerLinkActive="current-route" (click)="sidenav.close()">Books</button>
  </md-sidenav>
</md-sidenav-container>

