<md-sidenav-container>
  <md-toolbar>
    <button md-mini-fab (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>

    <div class="title-text" routerLink="/">BookBud</div>
    <span style="flex-grow: 1"></span>

    <button *ngIf="display.showLogout" md-button (click)="logout()" id="logout">Logout</button>
    <button *ngIf="display.showLogin" md-button (click)="login()" id="login">Login</button>
  </md-toolbar>
  <md-sidenav #sidenav mode="side">
    <!-- sidenav content -->
    <span>{{userService?.currentUser?.displayName || 'Anonymous'}}</span>
    <hr>
    <button md-button routerLink="/" routerLinkActive="current-route" (click)="sidenav.close()">Dashboard</button>
    <button md-button routerLink="/book" routerLinkActive="current-route" (click)="sidenav.close()">Books</button>

  </md-sidenav>

  <!-- primary content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

