<!--<div class="container">-->
  <!--<nav class="navbar navbar-default">-->
  <!--<button md-icon-button [mdMenuTriggerFor]="navMenu">-->
    <!--<md-icon>more_vert</md-icon>-->
  <!--</button>-->
    <!--<md-menu #navMenu="mdMenu" y-position="above">-->
      <!--<button md-menu-item> Settings </button>-->
      <!--<button md-menu-item> Help </button>-->
    <!--</md-menu>-->



    <!--<div *ngIf="display.loading" class="loading">Loading...</div>-->
    <!--<div *ngIf="display.showLogout">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li><a [routerLink]="['/']">Home</a></li>-->
        <!--<li routerLinkActive="active"><a [routerLink]="['/book']">Books</a></li>-->
      <!--</ul>-->
      <!--<button class="btn btn-primary pull-right" (click)="logout()">Logout</button>-->
    <!--</div>-->
    <!--<div *ngIf="display.showLogin">-->
      <!--<button class="btn btn-primary pull-right" (click)="login()">Login</button>-->
    <!--</div>-->
  <!--</nav>-->
<!--</div>-->
